python-dotenv
anthropic
langchain
langgraph
langchain_anthropic
langchain_openai
langchain_community
langchain_mongodb
langgraph-checkpoint-sqlite

pymongo

bcrypt

# Jupyter Notebook
jupyter
ipykernel
ipywidgets
pyfiglet

#CLI interface
click
rich