python-dotenv
anthropic
langchain
langgraph
langchain_anthropic
langchain_openai
langchain_community
langchain_mongodb

pymongo

# Jupyter Notebook
jupyter
ipykernel
ipywidgets
pyfiglet

#CLI interface
click
rich